 <meta property="og:title" content="V.O.X. - La naissance du Projet"/>
 <meta property="og:url" content="http://vox.damwdan.com/fbk_int/ar1.html"/>
 <meta property="og:image" content="http://vox.damwdan.com/images/O.jpg"/>
 <meta property="og:site_name" content="V.O.X."/>

<h2>LA&nbsp;NAISSANCE&nbsp;DU&nbsp;PROJET</h2>
              <p>Le cahier des charges est &agrave; peine rendu, mais le travail commence d&eacute;j&agrave; !</p>
              <p>Le site est en construction et le groupe s&rsquo;organise pour travailler efficacement : une conversation mail, un repo GIT et des r&eacute;unions de groupe dans des caves sombres et lugubres, tout est l&agrave; !<br/>
              &#09;Chacun a sa t&acirc;che, d&eacute;sormais, le projet V.O.X. a &eacute;t&eacute; initialis&eacute;.</p>
              <p>Notre repo GIT est <a href="https://github.com/Damwdan/vox.git"> <em>ici</em></a>.</p>