 <meta property="og:title" content="V.O.X. - OCaml"/>
 <meta property="og:url" content="http://vox.damwdan.com/fbk_int/art2.html"/>
 <meta property="og:image" content="http://vox.damwdan.com/images/O.jpg"/>
 <meta property="og:site_name" content="V.O.X."/>

 <h2>OCAML : PR&Eacute;SENTATION G&Eacute;N&Eacute;RALE</h2>
<p>OCaml est la principale variante du langage Caml. Du point de vue du langage, elle &eacute;tend le noyau du langage Caml avec une couche orient&eacute;e objets compl&egrave;te, ainsi qu'un syst&egrave;me de modules puissant. Un syst&egrave;me de types polymorphe avec inf&eacute;rence automatique des types assure la coh&eacute;rence de ces traits.<br>
Le syst&egrave;me OCaml est une impl&eacute;mentation de qualit&eacute; industrielle de ce langage, comprenant un compilateur produisant du code natif de haute performance (ocamlopt) pour 9 architectures de microprocesseurs (IA32, PowerPC, AMD64, Alpha, Sparc, Mips, IA64, HPAA, StrongArm), un compilateur code-octet (ocamlc) et une boucle d'interaction (ocaml) pour la rapidilit&eacute; du d&eacute;veloppement et la portabilit&eacute;. La distribution d'OCaml offre &eacute;galement une biblioth&egrave;que standard, un d&eacute;bogueur (ocamldebug), des g&eacute;n&eacute;rateurs d'analyseurs lexicaux (ocamllex) et syntaxiques (ocamlyacc), un pre-processeur pretty-printer (camlp4) et un g&eacute;n&eacute;rateur de documentation (ocamldoc).</p>

<h3>Disponibilit&eacute;</h3>
<p>Le syst&egrave;me OCaml est un logiciel libre: le compilateur est distribu&eacute; sous les termes de la Q Public License, et sa librairie sous ceux de la LGPL; reportez-vous au texte de la license pour plus de d&eacute;tails. De plus, une license de type BSD est automatiquement accord&eacute;e aux membres du Caml Consortium. Le logiciel peut &ecirc;tre t&eacute;l&eacute;charg&eacute; gratuitement sur ce site, et le manuel d'utilisation (en Anglais) l'accompagnant est &eacute;galement disponible en ligne.</p>
<h6>Source : <a href="http://caml.inria.fr/ocaml/index.fr.html">INRIA</a></h6>