 <meta property="og:title" content="V.O.X. - Notre Twitter"/>
 <meta property="og:url" content="http://vox.damwdan.com/fbk_int/art4.html"/>
 <meta property="og:image" content="http://vox.damwdan.com/images/O.jpg"/>
 <meta property="og:site_name" content="V.O.X."/>

<h2>NOTRE COMPTE TWITTER</h2>
              <p>Pour que tout projet avance efficacement, la communication est primordiale. Ainsi, il y a certes la communication dans le groupe, qui se fait au travers de réunions, de conversations mail et d'une collaboration accérée sur GIT mais il ne faut jamais négliger la communication avec l'extérieur. Ce site internet est d'ailleurs la preuve que nous attachons une réelle importance à partager avec l'extérieur tout (ou presque) ce qui concerne ce projet. En ce sens, nous avons décidé d'aller plus loin et d'ouvrir un compte <a href="https://twitter.com/voxthesandmen"><em>TWITTER</em></a> sur lequel vous pourrez suivre nos derniers avancements, nos dernières découvertes.</p>
			  <p>N'hésitez pas à nous suivre ! Et pensez à jeter un coup d'&oelig;il au widget présent en bas de cette page.</p>