 <meta property="og:title" content="V.O.X. - Le chiffrement"/>
 <meta property="og:url" content="http://vox.damwdan.com/fbk_int/art5.html"/>
 <meta property="og:image" content="http://vox.damwdan.com/images/O.jpg"/>
 <meta property="og:site_name" content="V.O.X."/>
 
<h2>Les méthodes de chiffrement</h2>
              <p>Le chiffrement est en cryptographie le procédé qui permet de rendre la compréhension d'un document impossible à toute personne qui n'a pas la clé de (dé)chiffrement. Parmi les nombreux systèmes de chiffrement il en existe deux types : les symétriques et les asymétriques.</p>
<p>Les premiers utilisent la même clé pour chiffrer et déchiffrer alors que les systèmes asymétriques utilisent des clés différentes : une clé publique, servant au chiffrement, et une clé privée, servant à déchiffrer et étant indéductible à partir de la première.</p>
<p>Les méthodes les plus connues sont le Triple DES et l'AES pour la cryptographie symétrique, et le RSA pour la cryptographie asymétrique. L’utilisation d'un système symétrique ou asymétrique dépend des tâches à accomplir. La cryptographie asymétrique présente deux intérêts majeurs : elle supprime le problème de transmission sécurisée de la clé, et elle permet la signature électronique. Elle ne remplace cependant pas les systèmes symétriques car ses temps de calcul sont nettement plus longs.</p>