 <meta property="og:title" content="V.O.X. - Les réseaux neuronaux"/>
 <meta property="og:url" content="http://vox.damwdan.com/fbk_int/art6.html"/>
 <meta property="og:image" content="http://vox.damwdan.com/images/O.jpg"/>
 <meta property="og:site_name" content="V.O.X."/>
 
				<h2>LES RÉSEAUX NEURONAUX</h2>
              <p>Les réseaux de neurones sont des modèles mathématiques abstraits basés sur le fonctionnement du cerveau et de ses 1011 neurones qui communiquent via des synapses. Malgré cette analogie, la complexité du système utilisé reste infiniment inférieure. Le perceptron multicouche, qui est la structure la plus simple de réseau de neurones artificiel, est composé de neurones d’entrées, de neurones internes et de neurones de sorties. Tous ces neurones sont liés et ces relations sont pondérées : le poids de chacune de ces connections représente à quel point l’entrée contribuera au résultat final. Ainsi, le processus est simple : on fait une somme pondérée de toutes les entrées puis, afin de normaliser et de lisser le résultat, on y applique une fonction d’activation, la fonction sigmoïde par exemple, qui a la particularité d’être continue et dérivable.</p>
<p>L’intérêt majeur d’un réseau de neurones est sa capacité à apprendre. En effet, avant qu’il soit opérationnel et totalement efficace, il faut passer par une phase d’apprentissage. Cette étape consiste à, d’abord, calculer le résultat puis le comparer au résultat voulu. A partir de ces résultats, on va calculer l’erreur de chaque neurone de sortie afin de rétro-propager cette erreur pour modifier les poids et obtenir le résultat demandé.</p>

<p>Ainsi, après cette phase de formation, le réseau de neurones sera capable, seul, de donner des réponses cohérentes et exactes.</p>