 <meta property="og:title" content="V.O.X. - Les Téléchargements"/>
 <meta property="og:url" content="http://vox.damwdan.com/fbk_int/downloads.html"/>
 <meta property="og:image" content="http://vox.damwdan.com/images/O.jpg"/>
 <meta property="og:site_name" content="V.O.X."/>
 
 <h2>LES&nbsp;TÉLÉCHARGEMENTS.</h2>

<p>Ici, vous pouvez trouver les rapports, les sources et les exécutables de chaque soutenance !</p>
<h3>Première Soutenance</h3>
<ul>
<li><a href="dl/Cahier_des_charges.pdf"><mark>Le cahier des charges</mark></p></a></li>
<li><a href="dl/report-s1.pdf"><mark>Le rapport de soutenance</mark></p></a></li>
<li><a href="dl/vox-s1.tar.bz2"><mark>Les sources</mark></p></a></li>
</ul>
<h3>Deuxième Soutenance</h3>
<ul>
<li><mark>Le rapport de soutenance</mark></p></li>
<li><mark>Les sources</mark></p></li>
</ul>
<h3>Troisième Soutenance</h3>
<ul>
<li><mark>Le rapport de soutenance</mark></p></li>
<li><mark>Les sources</mark></p></li>
</ul>
<h3>Quatrième Soutenance</h3>
<ul>
<li><mark>Le rapport de soutenance</mark></p></li>
<li><mark>Les sources</mark></p></li>
<li><mark>L'exécutable</mark></p></li>
</ul>