 <meta property="og:title" content="V.O.X. - Le Groupe"/>
 <meta property="og:url" content="http://vox.damwdan.com/fbk_int/group.html"/>
 <meta property="og:image" content="http://vox.damwdan.com/images/O.jpg"/>
 <meta property="og:site_name" content="V.O.X."/>
 
<h2>LE&nbsp;GROUPE.</h2>

<h3>A&ecirc;r</h3>
<p>Adieu notre cher OCaml, place au C. Ce langage, encore &agrave; peine explor&eacute;, semble nous r&eacute;server des monts et des merveilles qui n&rsquo;attendent qu&rsquo;&agrave; &ecirc;tre d&eacute;couverts par mes compagnons et moi-m&ecirc;me. Comme pour les autres projets, je sautille d&rsquo;impatience &agrave; l&rsquo;id&eacute;e d&rsquo;apprendre de nouvelles choses et de r&eacute;aliser un logiciel op&eacute;rationnel.<br>
Une pr&eacute;sentation br&egrave;ve, il est vrai, mais il faut laisser la place &agrave; ce qui importe r&eacute;ellement : le travail !</p>

<h3>Damwdan</h3>
<p>Troisi&egrave;me projet en groupe, troisi&egrave;me pr&eacute;sentation. Inutile de s&rsquo;attarder, rien n&rsquo;a r&eacute;ellement chang&eacute;, si ce n&rsquo;est mon exp&eacute;rience dans les projets du genre. Apr&egrave;s avoir connu un d&eacute;serteur et un mec mentalement absent, il est bien possible que ce projet soit celui de la r&eacute;demption, celui qui me redonnera foi en l&rsquo;&eacute;quipe et la confiance avec les autres membres et, qui sait, celui qui assurera ma renomm&eacute;e. Outre mon sentiment positif vis-&agrave;-vis de mon groupe, j&rsquo;ai particuli&egrave;rement envie de m&rsquo;investir dans ce projet car il est &agrave; traiter en langage C, un langage qui m&rsquo;a toujours int&eacute;ress&eacute; depuis que j&rsquo;ai entendu parler de programmation pour la premi&egrave;re fois. C&rsquo;est donc enfin l&rsquo;occasion de creuser cet aspect et d&rsquo;en apprendre plus. Par ailleurs, le sujet &eacute;tant libre, celui que nous avons choisi est de toute &eacute;vidence tr&egrave;s int&eacute;ressant &agrave; mon go&ucirc;t. J&rsquo;esp&egrave;re que nous serons &agrave; la hauteur de celui-ci, mais a priori, c&rsquo;est ce que nous avons pr&eacute;vu.</p>
<h3>Jahfury</h3>
<p>Je suis donc &eacute;l&egrave;ve de SP&Eacute;... pour la seconde fois. &Eacute;tant un redoublant j&rsquo;ai eu la joie de faire le projet de cartographie l&rsquo;ann&eacute;e derni&egrave;re. Ce projet qui a d&rsquo;ailleurs fini avec un &eacute;chec lamentable m&rsquo;a permis de rapidement me remettre au OCaml et de me rendre compte qu&rsquo;OCaml n&rsquo;est pas mon ami. N&eacute;anmoins mon projet d&rsquo;OCR au d&eacute;but de l&rsquo;ann&eacute;e m&rsquo;a permis de remettre &agrave; jour mes connaissances de l&rsquo;OCaml.<br>
Mon ann&eacute;e pass&eacute;e &agrave; l&rsquo;&eacute;tranger m&rsquo;a permis d&rsquo;&eacute;largir mes comp&eacute;tences en C++ ainsi qu&rsquo;en LaTeX.<br>
Bref, comme tous les sportifs le disent &agrave; la t&eacute;l&eacute;vision : "J&rsquo;vais me donner &agrave; fond pour r&eacute;ussir ce projet, pour moi, ma famille et mes fans !"</p>
<h3>Amadeus</h3>
<p>C&rsquo;est parti pour un nouveau projet !<br>
Projet libre cette fois-ci, ce qui permet toujours une approche moins contraignante, et nouveau langage, le C, qui compl&eacute;tera notre OCaml ador&eacute;. Pas d&rsquo;inqui&eacute;tude donc, le terrain est connu, et le groupe motiv&eacute;. Le sujet a &eacute;t&eacute; choisi d&rsquo;un commun accord, ce qui devrait assurer la motivation de chacun pour la r&eacute;alisation.<br>
De plus, l&rsquo;exp&eacute;rience accumul&eacute;e par les membres permettra, je pense, de faire preuve d&rsquo;une certaine efficacit&eacute; pour la courte dur&eacute;e de ce projet. Concernant la technique, le sujet choisi nous confrontera certainement &agrave; plusieurs d&eacute;fis de taille, mais ce sont ces probl&egrave;mes qui nous feront gagner en exp&eacute;rience.</p>