 <meta property="og:title" content="V.O.X. - Le Projet"/>
 <meta property="og:url" content="http://vox.damwdan.com/fbk_int/project.html"/>
 <meta property="og:image" content="http://vox.damwdan.com/images/O.jpg"/>
 <meta property="og:site_name" content="V.O.X."/>

<h2>LE&nbsp;PROJET.</h2>
              <p>Depuis quelques ann&eacute;es, certains mod&egrave;les d&rsquo;ordinateur sont &eacute;quip&eacute;s d&rsquo;un lecteur d&rsquo;empreinte digitale qui permet &agrave; l&rsquo;utilisateur de d&eacute;verrouiller sa machine &agrave; l&rsquo;aide de son pouce. De plus, certaines technologies (encore douteuses) permettent de faire de m&ecirc;me &agrave; l&rsquo;aide d&rsquo;une cam&eacute;ra et de la reconnaissance faciale. C
			  e n&rsquo;est pas un hasard si ces technologies deviennent un centre d&rsquo;int&eacute;r&ecirc;t. En effet, la s&eacute;curit&eacute; par le biais de la biom&eacute;trie est devenue de plus en plus int&eacute;ressante alors que les techniques de cracking de mots de passe sont de plus en plus puissantes et faciles d&rsquo;utilisation.</p>

<p>De toute &eacute;vidence, l&rsquo;utilisation de caract&egrave;res pr&eacute;cis et propres &agrave; chaque individu dans la cryptanalyse est en vogue, notamment du fait de sa fiabilit&eacute;. C&rsquo;est de ce point-l&agrave; qu&rsquo;est parti le projet. L&rsquo;id&eacute;e &eacute;tait la suivante : comment combiner un caract&egrave;re biom&eacute;trique et le chiffrement de donn&eacute;es ? Si la manipulation de l&rsquo;image est difficile car elle demande une nettet&eacute; parfaite (par exemple, l&rsquo;&eacute;tude de l&rsquo;iris demande une qualit&eacute; d&rsquo;image infaillible), si celle des empreintes digitales demande un certain mat&eacute;riel et existe d&eacute;j&agrave; &agrave; un tr&egrave;s haut niveau, celle de la voix laisse plus de marge et est peu utilis&eacute;e. </p>

<p>L&rsquo;exemple d&rsquo;un cas pratique et simpliste serait celui du chiffrement par rotation (d&eacute;riv&eacute;e du chiffrement dit de C&eacute;sar). Sans revenir sur la notion basique de cet algorithme, le chiffrement par rotation fait &laquo; avancer &laquo; les lettres, d&rsquo;un nombre donn&eacute;, dans la table ASCII. Le ROT-13 (d&eacute;placement de 13 dans la table ASCII) de la lettre a (97) donne n (110). Ainsi, le cas pratique de notre projet serait de d&eacute;finir le nombre du ROT par une information extraite de l&rsquo;enregistrement vocale d&rsquo;une phrase lue. Par exemple, faire un ROT avec la valeur de la plus haute fr&eacute;quence extraite dans une phrase lue par un homme pourrait donner un ROT-160, et pour augmenter la difficult&eacute;, on peut diviser ce nombre par pi. </p>

<p>Cet exemple est simpliste mais donne une id&eacute;e de l&rsquo;utilisation possible de la voix dans le chiffrement. Le but du projet est de cr&eacute;er un programme capable de lire une s&eacute;quence audio, d&rsquo;en tirer des variables pr&eacute;cises et de les utiliser dans un algorithme de chiffrement. Pour pouvoir acc&eacute;der aux informations pr&eacute;alablement chiffr&eacute;es, il faudrait relire la m&ecirc;me phrase avec la m&ecirc;me voix pour que le programme puisse extraire les m&ecirc;mes variables et faire le processus inverse. </p>