@font-face {
    font-family: 'QuicksandLight';
    src: url('fonts/Quicksand_Light-webfont.eot');
    src: url('fonts/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Light-webfont.woff') format('woff'),
         url('fonts/Quicksand_Light-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandBold';
    src: url('fonts/Quicksand_Bold-webfont.eot');
    src: url('fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Bold-webfont.woff') format('woff'),
         url('fonts/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	background-image: url("images/background.jpg");
	background-repeat: repeat;
    font-family: 'QuicksandBold', arial, serif;
	color: rgb(100,100,100);
	max-width: 100%;
	overflow: hidden;
}

#page
{
	margin:auto;
	padding-top: 10px;
	max-width: 95%;
}

#slim 
{
	width: 100%;
}
/* Titres   */
h1
{
    font-family: 'QuicksandLight', arial, serif;
	color: white;
}
h2
{
    font-family: 'QuicksandLight', arial, serif;
	color: rgb(164,164,164);
}
h3
{
	color: rgb(100,100,100);
}
h6 {
  font-style: italic;
}
em {
    font-family: 'QuicksandBold', arial, serif;
    font-size:1.25em;
  font-style: normal;
}
mark 
{
  font-family: 'QuicksandBold', arial, serif;
  font-style: normal;
  background: none;
  color: rgb(164,164,164);
}
.articles h3 {
    font-family: 'QuicksandLight', arial, serif;
}
#nav1,#nav2 h3
{
    padding-left: 10%;
}
#logo {
	float: left;
	width: 100%;
	text-align: center;
	margin-right: 588px;
}
hr
{
  border: none;
  background-color: rgb(100,100,100);
  max-width: 95%;
  min-height: 1px;
}

/* Liens */
a
{
      cursor: pointer;
	text-decoration: none;
	color: rgb(164,164,164);
}

.art {
	display: inline-block;
	margin: 8px 5px 8px 5px;
	text-align: left;
}

.title
{
    background: rgba(0, 0, 0, 0.5);
    font-family: arial;
	color: rgb(212,212,212);
    font-size: 1.09em;
    position: absolute;
    padding-left: 10px;
	min-height: 20px;
    opacity: 0;
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}
a img {
  overflow: hidden;
  cursor: pointer;
}

#menu 
{
	float:left;
	position:relative;
	margin-left:30px;
	min-height: 145px;
	overflow: hidden;
	margin-bottom:15px;
}


#page1,#page2,#page3 {
	position:absolute;
	top: 0;
}
#page1 {
	left: 0px;
}
#page2 {
	left: 944px;
}
#page3 {
	left: -944px;
}

#dot1 {
	opacity: 1;
}
#dot2 {
	opacity: 0.35;
}
#dot3 {
	opacity: 0.35;
}

.articles {
  font-family: 'QuicksandBold', arial, serif;
  background: rgba(0,0,0,0.35);
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  font-size: 1.35em;
  line-min-height: 175%;
  text-align: justify;
  margin-top: 75px;
  padding-right: 15px;
  padding-left: 15px; 
  display: none;
}

aside {
  float: right;
  position: relative;
  bottom: -75px;
}

header h1
{
	font-size: 5.5em;
	margin-bottom: 0px;
	margin-top: 10px;
	line-min-height: 45px;
}
header h3 {
	display: none;
	font-size: 1.5em;
	opacity: 0.75;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
header h2
{
	margin-bottom: 15px;
	margin-top: 0px;
}
#next {
	margin-top: 10px;
}
nav ul
{
	-webkit-padding-start: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-type: none;
	text-align: center;
}
nav li
{
	font-size: 400%;
	display: inline-block;
	margin-right: 0px;
	margin-left: 0px;
}
#nav3 ul {
	list-style-type: none;
	padding-left: 10%;
}
#topdiv 
{
	min-height: 299px;
	overflow: hidden;
}
#news,#presentation
{
	position: relative;
	padding-top: 2.5%;
    padding-left: 0%;
	min-height: 274px;
    line-min-height: 200%;
}
#news 
{
	top: -548px;
    line-min-height: 225%;
}

#news h4  {
	font-size: 130%;
	margin: 0px 0px 0px 0px;
	padding:  0px 0px 0px 0px;
}

#presentation
{
	top: 0px;
    line-min-height: 205%;
	padding-top: 1.5%;
}

#presentation h2
{
    line-min-height: 50%;
}
#presentation em
{
	color: rgb(128,128,128);
}

#presentation h3 
{
	font-size: 120%;
    padding-left: 5%;
}
#next
{
	float: right;
	opacity: 0.5;
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

#news h3
{
    padding-left: 10%;
}
#news img {
  float: left;
  margin-right: 20px;
}


#page > hr {
    float: left;
    margin-left: 25px;
}

.close {
  opacity: 0.5;
  position: relative;
  top: -50px;
}

#navig {
  text-align: center;
}
.arrows {
  opacity: 0.25;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  margin-bottom: 30px;
}


footer
{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
footer div
{
  vertical-align: top;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  line-min-height: 135%;
  overflow: visible;
}
footer hr 
{
	margin-top: 35px;
	margin-bottom: 35px;
  text-align: center;
	max-width: 50%;
}
footer li 
{
	font-size: 130%;
	padding-left: 10px;
	line-min-height: 195%;
}
#contact {
	font-size: 110%;
	text-align: center;
}

/*
 * Gradient Shadow
 */

/* All HTML5 progress enabled browsers */
progress {
	/* Turns off styling - not usually needed, but good to know. */
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	/* gets rid of default border in Firefox and Opera. */
	border: solid rgb(18,18,18) 5px;
	border-radius: 10px;
	/* Dimensions */
	max-width: 100%;
	min-height: 22px;
	opacity: 0.65;
}
/*
 * Background of the progress bar background
 */
/* Firefox and Polyfill */
progress {
	background: rgb(16,16,16);
}

/* Chrome */
progress::-webkit-progress-bar {
	background: rgb(16,16,16);
}

/*
 * Background of the progress bar value
 */

/* Firefox */
progress::-moz-progress-bar {
	border-radius: 10px;
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(43,60,47) 37%,
		rgb(43,76,47) 69%
	);
}

/* Chrome */
progress::-webkit-progress-value {
	border-radius: 10px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(43,83,47)),
		color-stop(0.5, rgb(43,107,47)),
		color-stop(1, rgb(43,126,47))
	);
}